<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ONG</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--

    Template 2075 Digital Team

    http://www.tooplate.com/view/2075-digital-team

    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/et-line-font.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    @RenderBody()
    <!-- preloader section -->
    <div class="preloader">
        <div class="sk-spinner sk-spinner-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>

    <!-- navigation section -->
    <section class="navbar navbar-fixed-top custom-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">ONG-HONDURAS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="home" class="smoothScroll">INICIO</a></li>
                    <li>@Html.ActionLink("DESAPARECIDOS", "Index", "Desaparecidos", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- home section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="section-title">
                        <strong></strong>
                        <h1 class="heading bold">JUNTOS PODEMOS HACER LA DIFERENCIA</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="~/images/solidaridad-2.jpg" class="img-responsive" alt="about img">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="~/images/solidaridad.jpg" class="img-responsive" alt="about img">
                </div>
                <div class="col-md-6 col-sm-12">
                   
                   <div class="section-title">                   
                    <h1></h1>
                    <h1> <a href="#contact" class="smoothScroll btn btn-default">INFORMACION</a></h1>
                                           
                  </div>  
               </div>
           </div>
     </div>
               
    </section>

    <!-- work section -->
    <section id="work">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <strong>01</strong>
                        <h1 class="heading bold">APOYO</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="icon-cloud medium-icon"></i>
                    <h3>NUBE</h3>
                    <hr>
                    <p>Todos nuestros datos son enlazados en la nube, por lo cual evitamos perdida de información relevante.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                    <i class="icon-mobile medium-icon"></i>
                    <h3>ANDROID, HUAWEI &amp; IOS</h3>
                    <hr>
                    <p>La aplicacion de nuestra ONG esta disponible para cada Sistema Operativo Movil existente.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-laptop medium-icon"></i>
                    <h3>WEB</h3>
                    <hr>
                    <p>Mediante la Pagina Web se pueden hacer ordenes de muchos beneficios, dependiendo a la categoria que usted aplique.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-compass medium-icon"></i>
                    <h3>BRUJULA</h3>
                    <hr>
                    <p>El bienestar social es quien nos indica el camino a seguir. Donde se necesite ayuda ahi estamos.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-chat medium-icon"></i>
                    <h3>COMUNICACION</h3>
                    <hr>
                    <p>Estamos en constante comunicacion con otras organizaciones. Mediante la comunicacion brindamos una mejor ayuda a quienes mas lo necesitan.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-browser medium-icon"></i>
                    <h3>RESPONSABILIDAD</h3>
                    <hr>
                    <p>Como una ONG responsable, cada una de nuestras actividades se basan en las normas del Proyecto Esfera.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- about section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="section-title">
                        <strong>02</strong>
                        <h1 class="heading bold">NUESTRA ONG</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="~/images/Bandera 1.jpg" class="img-responsive" alt="about img">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3 class="bold">"TRAS LA CONDUCTA DE CADA UNO DEPENDE EL DESTINO DE TODOS".</h3>
                    <h3 class="heading bold">-ALEJANDRO MAGNO</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#historia" aria-controls="historia" role="tab" data-toggle="tab">HISTORIA</a></li>
                        <li><a href="#esfera" aria-controls="esfera" role="tab" data-toggle="tab">PROYECTO ESFERA</a></li>
                        <li><a href="#seguridad" aria-controls="seguridad" role="tab" data-toggle="tab">SEGURIDAD ALIMENTARIA</a></li>
                    </ul>
                    <!-- tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="historia">
                            <p>Una ONG nacida en HONDURAS en donde las necesidades son muy grandes, en donde la miñez sufre hambre y maltrato. Pero es un país hermoso en el cual buscamos mejorar está situación.</p>
                            <p>Empezamos ayudando a las personas en nuestras comunidades. Las<a href="#"> Donaciones</a> por parte de otras personas han echo posible que estas ayudas humanitarias lleguen a más comunidades.</p>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane" id="esfera">
                            <p>Esfera es un proceso, un compromiso y un producto, con el objetivo de mejorar la calidad de las acciones de Ayuda Humanitaria durante las respuestas en caso de desastres, y rendir cuentas acerca de ellas.</p>
                            <p>El Proyecto Esfera aspira a mejorar la calidad de la Ayuda Humanitaria prestada a las personas afectadas por desastres y conflictos armados. El Proyecto Esfera está centrado en las personas orientado a la calidad y basados en derechos.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="seguridad">
                            <p>Una persona, un hogar, una comunidad, una región o una nación gozan de Seguridad Alimentaria cuando todos sus miembros tienen en todo momento acceso físico y económico para adquirir, producir y obtener o consumir alimentos sanos y nutritivos en cantidad suficiente.</p>
                            <p>Como ONG nos tratamos de asegurar que los tres pilares mas importantes en la seguridad alimentaria no sean afectados, y de ser afectados buscamos solucionar esa inseguridad alimentaria.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!-- team section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <strong>03</strong>
                        <h1 class="heading bold">PARTE DE NUESTRO EQUIPO</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                    <div class="team-wrapper">
                        <img src="~/images/rocio.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>SANDY ORTEGA</h4>
                            <h3>LOGISTICA</h3>
                            <hr>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                           </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
                    <div class="team-wrapper">
                        <img src="~/images/alejandra.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>ALEJANDRA CASTILLO</h4>
                            <h3>RESCATE ACUATICO</h3>
                            <hr>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                                <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                    <div class="team-wrapper">
                        <img src="~/images/catherinn.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>CATHERIN CANTILLANO</h4>
                            <h3>DIRECTORA</h3>
                            <hr>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                    <div class="team-wrapper">
                        <img src="~/images/denuar.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>DENUAR BARNICA</h4>
                            <h3>PRESIDENTE</h3>
                            <hr>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                                <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                                <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- portfolio section -->
    <div id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <strong>04</strong>
                        <h1 class="heading bold">ALGUNAS DE NUESTRAS ACCIONES</h1>
                        <hr>
                    </div>
                    <!-- ISO section -->
                    <div class="iso-section">
                        <ul class="filter-wrapper clearfix">
                            <li><a href="#" data-filter="*" class="selected opc-main-bg">ACCIONES EN HONDURAS</a></li>
                        
                        </ul>
                        <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                            <div class="iso-box-wrapper col4-iso-box">

                                <div class="iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/palma.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/palma.jpeg" alt="portfolio img"></a>
                                    <h4>FINCA DE PALMA TRAS EL PASO DE ETA</h4>
                                </div>

                                <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/ayuda2.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/ayuda2.jpeg" alt="portfolio img"></a>
                                    <h4>SOCORRISTA NELSON SANDOVAL</h4>
                                </div>

                                <div class="iso-box html mobile col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/ayuda4.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/ayuda4.jpeg" alt="portfolio img"></a>
                                    <h4>MONITOREO DEL RIO ULUA</h4>
                                </div>

                                <div class="iso-box wordpress col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/ayuda.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/ayuda.jpeg" alt="portfolio img"></a>
                                    <h4>ENTREGA DE ALIMENTOS</h4>
                                </div>

                                <div class="iso-box html photoshop col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/ayuda1.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/ayuda1.jpeg" alt="portfolio img"></a>
                                    <h4>EVALUACIÓN DE DAÑOS</h4>
                                </div>

                                <div class="iso-box photoshop col-lg-4 col-md-4 col-sm-6">
                                    <a href="~/images/ayuda5.jpeg" data-lightbox-gallery="portfolio-gallery"><img src="~/images/ayuda5.jpeg" alt="portfolio img"></a>
                                    <h4>RESCATE AEREO</h4>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pricing section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <strong>05</strong>
                        <h1 class="heading bold">PARTE DE NUESTROS BENEFICIOS</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
                    <div class="team-wrapper">
                        <img src="~/images/educacion.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>EDUCACIÓN</h4>
                            <h3>PERSONAS DE ESCASOS RECURSOS</h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
                    <div class="team-wrapper">
                        <img src="~/images/saludG.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>SALUD GENERAL</h4>
                            <h3>MIGRANTE RETORNADO</h3>
                            <h3>DESASTRES NATURALES</h3>
                            <h3>CONFLICTOS ARMADOS</h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                    <div class="team-wrapper">
                        <img src="~/images/optometria.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>OPTOMETRIA</h4>
                            <h3>PARA LA NIÑEZ CON PROBLEMAS VISUALES</h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
                    <div class="team-wrapper">
                        <img src="~/images/psicosocial.jpg" class="img-responsive" alt="team img">
                        <div class="team-des">
                            <h4>APOYO PSICOLÓGICO</h4>
                            <h3>PARA LAS PERSONAS EN GENERAL</h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- contact section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="section-title">
                        <strong>06</strong>
                        <h1 class="heading bold">COMO CONTACTARNOS</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 contact-info">
                    <h2 class="heading bold">INFORMACIÓN DE CONTACTO:</h2>
                    <p></p>
                    <div class="col-md-6 col-sm-4">
                        <h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> CORREO ELECTRONICO</h3>
                        <p>ayuda@ong.hn</p>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i>NÚMERO DE TELEFONO</h3>
                        <p>(+504) 3323-5548 | 9846-5878</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Nombre" name="name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea class="form-control" placeholder="Mensaje" rows="7" name="message"></textarea>
                        </div>
                        <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                            <input type="submit" class="form-control" value="Enviar Mensaje">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>Copyright © Digital Team HTML5 Template | Design: <a href="http://www.tooplate.com" target="_parent">Tooplate</a></p>
                    <hr>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
                        <li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
                        <li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/isotope.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/nivo-lightbox.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>