
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">ONG - Sitio de Administración</h2>

<div>
    <img src="~/Imagenes/ong-banner..jpg" alt="ONG" />
</div>

<h3>¿Quienes Somos?</h3>




<div class="text-center">
    <h6><b>¡Siguenos en Nuestras Redes Sociales!</b></h6>
    <dl>
        <dt><a href="https://www.facebook.com/">
            <img src="~/Imagenes/faceb.png" style="width:50px; height:auto;" /></a> 
            <a href="https://www.twitter.com/">
            <img src="~/Imagenes/twitt.png" style="width:50px; height:auto;" /></a> 
            <a href="https://www.instagram.com/">
            <img src="~/Imagenes/insta.png" style="width:50px; height:auto;" />
            </a>
        </dt>
    </dl>
</div>



